.columns-2 {
	margin-right: 300px;
}
.postbox-container#postbox-container-1 {
	float: left;
	width: 100%;
}
.postbox-container#postbox-container-2 {
	float: right;
	width: 280px;
	margin-right: -300px;
}



.postbox-container #donationbox {
	background: #87BCE4;
	border: 3px solid #227499;
}
.postbox-container #donationbox .inside {
	padding: 6px 10px 10px 10px;
}
.postbox-container #donationbox .inside .donation_memo {
	background: #FFF8D9;
	padding: 2px 10px;
}


form#widget_view_custom_form table td div#use,
form#widget_view_custom_form table td div#not_use {
	margin: 0;
	padding: 10px 0;
	clear: both;
}
form#widget_view_custom_form table td div#use div.widget,
form#widget_view_custom_form table td div#not_use div.widget {
	width: 200px;
	float: left;
	margin-right: 14px;
}
form#widget_view_custom_form table td div#use .widget-placeholder,
form#widget_view_custom_form table td div#not_use .widget-placeholder {
	background-color: #FFF8D9;
	display: inline-block;
	float: left;
	width: 220px;
	margin-right: 14px;
}
